body {
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    max-width: 1400px;
    margin:0 auto;
    background-color: rgb(171, 171, 171);
    line-height:1.6;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.photo {
    border-radius: 10%
}

.header {
    background-color: #717c78;
    box-shadow: 7px 8px 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.main {
    background-color: #ffffff;
    padding: 32px;
}

.nav-list {
    list-style: none;
    padding: 10px;
    line-height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.contact-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer {
    background-color: #717c78;
    color: white;
    font-weight: bold;
    box-shadow: 7px 8px 10px rgba(20, 54, 49, 0.5);
}

.footer-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.school-logo {
    background-size: contain;
    background-repeat: no-repeat;
}

.flex-container {
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.surname {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    line-height: 1%;
    margin: 0 0 0 212px;
}

.school-logo {
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2rem;
}

.content {
    background: #fff;
    padding: 2rem;
    max-width: 1400px;
}